# Ignore Python cache files and folders
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs
*.log
*.out
*.err

# Ignore environment and virtual environment files
.env
.venv/
env/
venv/

# Ignore IDE/editor settings
.vscode/
.idea/
*.swp

# Ignore node modules (if applicable)
node_modules/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore frontend static dataset folder
/frontend/static/dataset/IN-Abs/

# Ignore other temporary files
*.tmp
*.bak
*.old

# Ignore compressed files
*.zip
*.tar
*.gz
*.rar
